.carl-promotion img{
    height: 50%;
}
.fix-img{
    height: 50%;
}
.promotion-img{
    height: 0px;
}

.nd-promotion b{
    color: #B2EC0F  ;
    font-size: 21px;
    font-weight: bold;
 }
 .nd-promotion p{
    color: #fff;
    font-size: 18px;
 }