@use "../../../_css/common.scss" as *;
footer {
  //     .footerTop {

  //     }
  .coloredHr {
    background: linear-gradient(
      180deg,
      #50b648 0%,
      #90c63f 59.9%,
      #b2ec0f 99.48%
    );
  }
  .footer-content {
    width: 390px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    @include laptop {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: start;
    }
  }

  .footer-bottom {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2rem;

    @include laptop {
      padding-bottom: 2rem;
      padding-left: 3.5rem;
      padding-right: 3.5rem;
    }
  }

  .footer-info {
    width: 390px;
    flex-direction: column;
    padding: 0;

    @include laptop {
      width: 100%;
      padding-left: 3rem;
      flex-direction: row;
    }
  }

  section {
    margin: 0;
    padding: 0;
    @include laptop {
      padding: 3.5rem;
    }
  }
  strong {
    font-weight: 700;
  }
}
