@use "../../../_css/common.scss" as *;
.member-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 30px;
  gap: 30px;
  @include laptop {
    flex-direction: row;
    justify-content: space-around;
  }
}
