.shadowBoxMovieLeft {
  background: linear-gradient(90deg, rgba(26, 29, 41, 1) 0%, rgba(0, 0, 0, 0) 100%);
  transform: translateX(-10%)
}

.shadowBoxMovieRight {
  background: linear-gradient(270deg, rgba(26, 29, 41, 1) 0%, rgba(0, 0, 0, 0) 100%);
  transform: translateX(10%)
}

.ButtonGRBA {
  border-radius: 4px;
  transition: all 0.3s ease-out;
  background: linear-gradient(
    180deg,
    #50b648 0%,
    #90c63f 59.9%,
    #b2ec0f 99.48%
  );
  &:hover {
    background: linear-gradient(
      0deg,
      #50b648 0%,
      #90c63f 59.9%,
      #b2ec0f 99.48%
    );
  }
}

